*{margin:0;padding:0;box-sizing:border-box;}

li{padding:0;margin:0;display:inline-block;height:22px;}

html{color:#555;font-family:"Lato",sans-serif;font-weight:300;font-size:20px;text-rendering:optimizeLegibility;}

.link{text-decoration:none;color:#aaa;font-size:20px}

.link:hover{color:#fff}


.header{display:flex;flex-direction:row;justify-content:space-between;min-height:fit-content;background-color:rgb(44,62,80);}

.header_profile{display:flex;flex-direction:row;justify-content:left;padding:15px;}

.name{margin:auto 0;}

.profile_pic{background-image:url(images/me.JPEG);background-size:contain;background-repeat:no-repeat;min-width: 80px;width:80px;height:80px;border-radius:50%;margin-right:15px;}

.header_nav{margin:auto 0;margin-right:55px;}

.header_nav ul{list-style:none;display:flex;flex-direction:row;justify-content:space-between;gap:20px;}

@media (max-width:800px){
    .header{flex-direction:column}
    .header_nav{margin:0 10% 15px 10%;}
    .header_nav li{font-size:35px;}
    .header_nav li a{vertical-align:top;}
}

@media (max-width:450px){
    .header_profile{padding:10px;}
    .profile_pic{margin-right:10px;}
    .name{margin:auto 0;margin-left:auto;}
    .header_nav{margin:auto auto;padding:0px 10px 10px 10px;width:100%;}
    .header_nav ul{flex-direction:column;gap:5px;}
    .header_nav li{font-size:25px;font-weight:600;display:flex;height:fit-content;}
    .header_nav a{border:solid;border-radius:5px;border-width:1px;width:100%;display:block;align-self:center;padding:5px;}
    
}


.section_spacing{padding:20px 0;}

.section_banner{text-align:center;padding-bottom:20px;}

.section_banner_container{width:60%;margin:0 auto;}

.banner_title{margin-bottom:10px;}

@media (max-width:450px){
    .section_spacing{padding:10px 0;}
}



.about{color:black;background-color:rgb(52,152,219);}

.about_content{display:flex;flex-direction:row;align-items: stretch;gap:20px;padding:0 20px;}

.about_content_background{background-color:#fff;border-radius:15px;padding:20px;}

.about_content_background h3{padding-bottom:20px;}

.about_content_story{
    flex: 1 1 auto;
  min-width: 0;
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.about_content_story p{color:#555;}

.about_content_skills{flex: 1 1 auto;
  min-width: 0;
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.about_content_skills ul{display: flex;
  flex-wrap: wrap;
  gap: 10px; /* spacing between skills */
  padding: 0;
  margin: 0;
}

.about_content_skills li{margin:15px 0;}

/* .skill_container{} */

.skill{display:inline-block;font-size:15px;padding:15px;background-color:#ddd;border:solid;border-radius:15px;border-width:2px;border-color:#aaa;width:max-content;white-space:nowrap;}


@media (max-width:800px){
    .about_content{flex-direction:column;}
}

@media (max-width:450px){
    .about_content{gap:10px;padding:0 10px;}
    .about_content_background h3{padding-bottom:10px}
}



.projects{min-height:300px;background-color:rgb(244,246,248)}

.project{margin:0 auto;display:flex;flex-direction:column;text-align:center;background-color:white;width:fit-content;border-radius:20px;padding:20px;}

.project_title{}

.project_description{}

.laptop_pic{width:500px;height:300px;background-image:url(images/laptop.jpeg);background-repeat:no-repeat;background-size:contain;display:inline-block;margin:0 auto;}












.contact{min-height:300px;background-color:rgb(127,140,141)}

.contact_content{display:flex;flex-direction:column;margin-left:10%;}

.contact{border:solid;border-width:1px;border-radius:20px;margin:0px;width:100%;}

.contact_row{display:flex;flex-direction:row;padding:10px;}

.contact_row p{min-width:150px;max-width:150px;margin-right:20px;}

.contact_row textarea{max-height:200px;max-width:400px;min-width:150px;min-height:50px;width:250px;height:150px;}
